@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto';
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100vh;
}

#sidebar,
.header,
.content {
    padding: 15px 30px 15px 30px;
}

#sidebar {
    background-color: rgb(25, 146, 212);
}

.siderow {
    color: white;
}

.sidegroups {
    display: flex;
    flex-direction: column;
}

.sidegroup {
    margin-bottom: 30px;
}

.siderow {
    display: flex;
    margin-bottom: 10px;
}

.icon,
.big-icon {
    margin-right: 10px;
}

.big-icon,
.big-sidetext {
    font-size: 24px;
}

#main {
    height: 100vh;
}

.header {
    height: 20%;
}

.content {
    height: 80%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 40% 10% 40%;
    background-color: rgb(226, 232, 240);
}

.content>div {
    border: 1px solid red;
}

.left {
    grid-area: 2 / 1 / 5 / 2;
}